build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f ballot/Dockerfile -t ballot:$GIT_COMMIT_ID ballot 
    docker tag ballot:$GIT_COMMIT_ID  ballot:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |
    #/bin/sh


    kubectl apply -n $ROOST_NAMESPACE -f ballot/ballot.yaml
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Chaitra B V
lastUpdatedOn: 2023-01-04T10:47:07.685Z
